<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="POSDB" connectionString="Server=OsanShaon;Initial Catalog=POSDB;Integrated security=true;" providerName="system.data.sqlclient"/>
  </connectionStrings>
</configuration>